<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="post" action="/log/base" >
        <p>
            <input type="submit" value="log">
        </p>
    </form>
    <form method="post" action="/log/error" >
        <p>
            <input type="submit" value="error">
        </p>
    </form>
    <form method="get" action="/charge" >
        <p>
            <input type="submit" value="charge">
        </p>
    </form>

</body>
</html>